@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Poppins:wght@300&family=Rampart+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}
nav.sticky{
    padding: 5px 50px;
    background-color: crimson;
    transition: 0.6s;
}
nav.sticky .logo >span{
    color: 
    #2F4858
    ;
}
nav.sticky ul {
    /* line-height: 98px; */
}
nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 100px;
}
.logo{
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
.logo span{
    color: crimson;
    font-size: 33px;
}
.navbar .logo{
    float: left;
    margin: 10px;
    line-height: 50px;
}
ul{
    position: relative;
    float: right;
}
ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    line-height: 70px;
}
ul li a{
    position: relative;
    text-decoration: none;
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 12px;
    transition: 0.6s;
}
ul li a:hover{
    background-color:#8a0b24;
}
ul li a.active{
    background-color:#8a0b24;
}
main{
    position: absolute;
    top: 34%;
    left: 7%;
}
.containner h1{
    font-size: 30px;
    letter-spacing: 4px;
    padding-bottom: 0;
    margin-bottom: 0;
    color:white;
}
.containner h1 span{
    font-size: 40px;
    color: crimson;
    letter-spacing: 0;
}
.containner p{
    color: white;
    margin: 10px 0;
    padding-bottom: 10px;
    font-size: 18px;
}
.btn{
    margin-top: 30px;
}
button {
    position: relative;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    width: 150px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 40px;
    border: none;
   }
   
   button span {
    position: relative;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 2px;
    z-index: 1;
   }
   
   button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background:crimson;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
   }
   
   button .liquid::after,
   button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }
   
   button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   button:hover .liquid {
    top: -120px;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(60deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }
   #chk_btn{
    float: right;
    cursor: pointer;
    color: white;
    font-size: 25px;
    line-height: 80px;
    display: none;
}
#chk{
  visibility: hidden;
}
@media screen and (max-width : 768px){
    #chk_btn{
        display: block;
    }
    ul{
        position: fixed;
        top: 13%;
        right: -100%;
        width: 50%;
        height: 100vh;
        z-index: 100;
        transition: 0.6s;
        background-color: crimson;
    }
    ul li{
        display: block;
        padding-left: 20px;
    }
    ul li a:hover{
        background-color: #8a0b24;
    }
    #chk:checked ~ ul{
        right: 0;
    }
    main{
        width: 100%;
        left: 0;
        text-align: center;
    }
    .btn{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%-50%);
    }
    nav{
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .logo{
        font-size: 20px;
    }
    .logo span{
        font-size: 30px;
    }
}

/* About********************************************/

#about{
    width: 100%;
    margin: 30px 0;
}
.title{
    width: 100%;
    text-align: center;
    padding: 90px 0;
}
.title h1{
    width: 100%;
    font-size: 30px;
}
.title p{
    line-height: 18px;
    font-size: 15px;
}
.about-box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sec-1{
    position: relative;
    flex-basis: 48%;
    text-align: center;
}
.sec-1 img{
    width: 100%;
}
.sec-1 h1{
    text-align: left;
    font-size: 34px;
    padding-bottom: 12px;
}
.sec-1 p{
    text-align: left;
    text-align: justify;
    font-size: 16px;
    color: black;
    padding-bottom: 13px;
    line-height: 20px;
}
.sec-1 p span{
    font-size: 30px;
    color: crimson;
    font-weight: bold;
}
.btn_1{
    padding-top: 10px;
    text-align: left;
    margin-bottom: 5px;
}
.btn_1 a{
    text-align: left;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    background-color: crimson;
    transition: 0.6s;
}
.btn_1 a:hover{
    background-color: rgb(255, 19, 66);
}
@media screen and (max-width : 768px){
    .about-box{
        width: 100%;
        display: block;
        padding: 15px;
    }
    .title h1{
        font-size: 25px;
    }
    .sec-1 h1{
        font-size: 25px
    }
    .btn_1{
        margin-bottom: 20px;
        text-align: center;
    }
    .sec-1 p{
        font-size: 15px;
    }
}

/* skills */

#skills{
    width: 100%;
    margin: 70px 0;
}
.col-1{
    position: relative;
}
.wrapper{
    width: 80%;
    margin: auto;
}
.container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
} 
.container *{
    font-family: "Poppins",sans-serif;
    color: black;
    font-weight: 500;
}
h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
 
    border: 2px solid crimson;
 
    border-radius: 20px;
  
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: crimson;
   
 
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 72%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 58%;
    }
} 
@media screen and (max-width : 768px){
    .wrapper{
        width: 100%;
        padding: 10px; 
    }
}

/* works */

#work{
    width: 100%;
    margin: 20px 0;
}
work-box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 49%;
    margin-bottom: 10px;
    position: relative;
}
.col-2 img{
    border-radius: 20px;
    width: 100%;
}

@media screen and (max-width : 768px){
    work-box{
        width: 100%;
        display: block;
        padding: 10px;
    }
}

/* ctct */

#form{
    width: 100%;
    margin: 30px 0;
}
form{
    width: 80%;
    margin: 0 auto;
    background-color: #efefef;
    padding: 10px;
}
form div{
    padding: 10px;
}
form input{
    width: 100%;
    padding: 4px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
textarea{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
.btn-2{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.btn-2 a{
    text-align: left;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    background-color: crimson;
    transition: 0.6s;
}
.div{
    width: 0;
}
.btn-2 a:hover{
    background-color: rgb(255, 19, 66);
}

/* footer *****************************************/

.main {
    max-height: 550px;;
    background-color:
    #2F4858
    ;
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 550px;
   }
   .footer-distributed{
    background-color: 
    #2F4858
    ;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color: white;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  crimson;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  white;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  crimson;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }